* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
}

.container {
  max-width: 910px;
  margin: auto;
}

.row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.one-fourth {
  flex-basis: 25%;
}
