.nav-bar-logo {
  font-family: Avenir, sans-serif;
  font-weight: 500;
  color: #0e3c59;
}

.nav-bar-link {
  color: #a1a1a1;
  font-size: 0.9rem;
}

.nav-bar-button {
  color: #ebeef0;
  background-color: #243d58;
  border-style: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 20%);
  font-family: Avenir, sans-serif;
  width: 100px;
  height: 40px;
  font-size: 1rem;
}

.nav-links {
  justify-content: space-between;
}

.nav-bar {
  font-family: Avenir, sans-serif;
  border-bottom: 1px solid #e3e6e9;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 5rem;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.img-container {
  max-width: 130px;
}

.align-right {
  margin-left: auto;
}

.ml-1rem {
  margin-left: 1rem;
}
