button {
  padding: 6px 16px;
}

button:hover {
  background-color: black;
  color: white;
}

thead > tr > th {
  color: white;
  background-color: black;
}

tbody > tr:nth-child(odd) {
  background-color: lightgrey;
}
