* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 850px;
  margin: auto;
}

.row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.col-fifth {
  flex-basis: 20%;
}
